.cm-s-DE .cm-header { color: blue; }
.cm-s-DE .cm-quote { color: #24C2C7; }
.cm-s-DE .cm-keyword { color: #cda869; }
.cm-s-DE .cm-atom { color: #CF7EA9; }
.cm-s-DE .cm-number { color: #78CF8A; }
.cm-s-DE .cm-def { color: #aac6e3; }
.cm-s-DE .cm-variable { color: #ffb795; }
.cm-s-DE .cm-variable-2 { color: #eed1b3; }
.cm-s-DE .cm-variable-3, .cm-s-DE .cm-type { color: #faded3; }
.cm-s-DE .cm-property { color: red; }
.cm-s-DE .cm-operator { color: red; }
.cm-s-DE .cm-comment { color: #555; font-style:italic; }
.cm-s-DE .cm-string { color: gold; }
.cm-s-DE .cm-string-2 { color: #9d937c; }
.cm-s-DE .cm-meta { color: #555; }
.cm-s-DE .cm-qualifier { color: yellow; }
.cm-s-DE .cm-builtin { color: #555; }
.cm-s-DE .cm-bracket { color: #24C2C7; }
.cm-s-DE .cm-tag { color: #2a3db4; }
.cm-s-DE .cm-attribute { color: red; }
.cm-s-DE .cm-hr { color: pink; }
.cm-s-DE .cm-link { color: #F4C20B; }
.cm-s-DE .cm-special { color: #FF9D00; }
.cm-s-DE .cm-error { 
  color: red;
  background: RGBA(255,000,000,0.1);
  border-style: double;
  border-width: 0.01px;
}
.cm-s-DE .cm-bracket{ color: red; }